
ACTION=="add", SUBSYSTEM=="block", ATTR{partition}=="1", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0010", SYMLINK+="fotoaparat", RUN+="/usr/local/bin/udev-download-photos"
# use
#   udevadm monitor
# and plug in the camera to see the path of the newly appeared partition
# and use that path in
#   udevadm info -a -p <path>
# to see the device node and parents.
# use that info to "select" the device.
